@model SIS.Models.Product_Sales

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product_Sales</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.product_sales_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.product_sales_id)
            @Html.ValidationMessageFor(model => model.product_sales_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.product_info_id, "Product_Info")
        </div>
        <div class="editor-field">
            @Html.DropDownList("product_info_id", String.Empty)
            @Html.ValidationMessageFor(model => model.product_info_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.quantity_sold)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.quantity_sold)
            @Html.ValidationMessageFor(model => model.quantity_sold)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.receipt_id, "Receipt")
        </div>
        <div class="editor-field">
            @Html.DropDownList("receipt_id", String.Empty)
            @Html.ValidationMessageFor(model => model.receipt_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.assisted_by)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.assisted_by)
            @Html.ValidationMessageFor(model => model.assisted_by)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.assisted_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.assisted_date)
            @Html.ValidationMessageFor(model => model.assisted_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.active_flag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.active_flag)
            @Html.ValidationMessageFor(model => model.active_flag)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
