@model PagedList.IPagedList<SIS.Models.System_Menus>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<meta charset="utf-8">
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".editModal").live("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-edit").dialog({
                title: 'Edit Master List Information',
                autoOpen: false,
                resizable: false,
                height: 500,
                width: 700,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");

                    }
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }

            });

            $("#dialog-edit").dialog('open');
            return false;
        });

        $(".addUserModal").live("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-confirm").dialog({
                title: 'Add User',

                autoOpen: false,
                resizable: false,
                height: 500,
                width: 700,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");

                    }
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-confirm").dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-confirm").dialog('close');

        });

        $(".viewMenuModal").live("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'View User Menus',

                autoOpen: false,
                resizable: false,
                height: 500,
                width: 700,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");

                    }
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-view").dialog('close');

        });


        //alert message implementation
        $("#formAlert").hide();
        $('form[name="register"]').on("submit", function (e) {
            var sm_description = $(this).find('input[name="sm_description"]');
            var sm_action_name = $(this).find('input[name="sm_action_name"]');
            var sm_controller = $(this).find('input[name="sm_controller"]');

            if ($.trim(sm_description.val()) === "" || $.trim(sm_action_name.val()) === "" || $.trim(sm_controller.val()) === "") {
                e.preventDefault();
                $("#formAlert").slideDown(400);
            }
        });

        $(".alert").find(".close").on("click", function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).closest(".alert").slideUp(400);
        });

    });
</script>
 <div class="ml-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="tab-nav ">
                            <li ><a  href="@Url.Action("Index", "Staff")" class="c-white">Staffs<span class="badge badge-info">@ViewBag.staff</span></a></li>
                            <li ><a  href="@Url.Action("Index", "Accounts")" class="c-white">Accounts<span class="badge badge-info">@ViewBag.account</span></a></li>
                            <li class="active"><a  href="@Url.Action("Index", "SystemMenus")" class="c-white">System Menus<span class="badge badge-info">@ViewBag.menu</span></a></li>
                        </ul>  
                    </div>
                    <div class="col-md-4 text-right">
                        <ul class="ml-nav-right list-inline">
                            <li class="ml-nav-search"><div class="fg-line">
                                    @using (Html.BeginForm("Index", "SystemMenu",FormMethod.Get))
                                    {
                                        @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "form-control"})
                                        <p style="display:none"><input type="submit"/></p>
                                        
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 text-right">
                        <ul class="ml-nav-right list-inline">
                            <li>
                                <a href="@Url.Action("Index", "SystemMenu", new { sortOrder = ViewBag.SortName, currentFilter=ViewBag.CurrentFilter})"><img src="/Images/img/ksis-icons/sort-icon.png" width="20"></a>
                            </li>
                            <li><a  data-toggle="modal" data-target="#myModal" href="#"><img src="/Images/img/ksis-icons/add-item-icon.png" width="23"></a></li>
                        </ul>
                    </div>
                    <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Product</h4>
                              </div>
                              <div class="modal-body">
                                    @using (Html.BeginForm("Create", "SystemMenu", FormMethod.Post, new { @name = "register" }))
                                    {
                                        @Html.ValidationSummary(true)
                                            <div id="formAlert" class="alert alert-danger">  
                                                <a class="close">×</a>  
                                                <strong>Warning!</strong> Make sure all fields are filled and try again.
                                            </div>
                                            <table>
                                                <tr>
                                                    <th>
                                                        Menu Name
                                                    </th>
                                                    <td>
                                                        <input type="text" id="sm_description" name="sm_description" >
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Action Name
                                                    </th>
                                                    <td>
                                                        <input type="text" id="sm_action_name" name="sm_action_name" >
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Controller
                                                    </th>
                                                    <td>
                                                        <input type="text" id="sm_controller" name="sm_controller" >
                                                    </td>
                                                </tr>
                                            </table>
                                        <button type="submit" class="btn btn-primary" id="addbtn">Add</button>
                                    }
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
            </div>
        </div>
                    
         <section id="content">
                <div id="ml-section" class="container">
                    <div class="hs-content">
                        <div class="hs-item hs-item-head">
                            <div class="row ">
                                <div class="col-xs-10 ">
                                        <div class="row ">
                                            <div class="col-xs-3 hs-item-name ss-item-head">
                                                Menu Name
                                            </div>
                                            <div class="col-xs-3 hs-item-date ss-item-head">
                                                Action Name
                                            </div>
                                            <div class="col-xs-3 hs-item-date ss-item-head">
                                                Controller
                                            </div>
                                            <div class="col-xs-3 hs-item-date ss-item-head">
                                                User
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model)
                        {
                             <div class="hs-item">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <a   href="#ml-item-view" data-toggle="modal"  >
                                            <div class="row">
                                                <div class="col-xs-3 hs-item-name">
                                                    @if (item.active_flag == true) 
                                                    { 
                                                        <i class="md md-check text-success"></i>
                                                    }else{
                                                        <i class="md md-clear text-danger"></i>
                                                    }&emsp;@Html.DisplayFor(modelItem => item.sm_description) </div>
                                                <div class="col-xs-3 hs-item-info">
                                                    @Html.DisplayFor(modelItem => item.sm_action_name) 
                                                </div>
                                                <div class="col-xs-2  ml-sn hs-item-info">
                                                    @Html.DisplayFor(modelItem => item.sm_controller) 
                                                </div>
                                                <div class="col-xs-2  ml-sn hs-item-info">
                                                    @*<button class="waves-circle ss-delete-btn btn-sm btn waves-effect">
                                                    @Ajax.ActionLink(" Add ", "AddUserMenu", new { id = item.system_menus_id },
                                                    new AjaxOptions
                                                    {
                                                        HttpMethod = "Get",
                                                    }, new { @class = "addUserModal" })</button>*@
                                                    <button class="waves-circle ss-delete-btn btn-sm btn waves-effect">
                                                    @Ajax.ActionLink(" View ", "ViewUserMenus", new { id = item.system_menus_id },
                                                    new AjaxOptions
                                                    {
                                                        HttpMethod = "Get",
                                                    }, new { @class = "viewMenuModal" })</button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-2 hs-item-actions">
                                        <button class="waves-circle ss-delete-btn btn-sm btn waves-effect">
                                        @Ajax.ActionLink(" Edit ", "Edit", new { id = item.system_menus_id },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "Get",
                                        }, new { @class = "editModal" })</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="text-center">
                        <ul class="fw-footer pagination">
                             @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                         </ul>
                    </div>
                </div>

            </section>
<div id="dialog-confirm" style="display: none"></div>
<div id="dialog-edit" style="display: none"></div>
<div id="dialog-view" style="display: none"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

