@model SIS.Models.Supplier_Info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Supplier_Info</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.supplier_info_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplier_info_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.supplier_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplier_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.supplier_contact_info)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplier_contact_info)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.supplier_contact_person)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplier_contact_person)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.supplier_address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplier_address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.company_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.company_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.active_flag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.active_flag)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
