@model SIS.Models.Account_Info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Account_Info</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.account_info_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.account_info_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user_type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.active_flag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.active_flag)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
