<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title &mdash; Kriskatkai Enterprise</title>
    <link href="../Images/img/kris.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/css/fullcalendar.min.css" rel="stylesheet" />

    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert-override.min.css" rel="stylesheet" />
    <link href="~/Content/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/css/socicon.min.css" rel="stylesheet" />
    <link href="~/Content/css/roboto.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/css/chosen.min.css" rel="stylesheet" />
    <link href="~/Content/css/app.min.1.css" rel="stylesheet" />
    <link href="~/Content/css/app.min.2.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header id="header">
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="logo hidden-xs">
                <a href="index.html"><img src="/Images/img/ksis-white.png" width="20"></a>
            </li>

            <li class="pull-right">
                <ul class="top-menu">
                    <li id="toggle-width" class="hidden-xs hide">
                        <div class="toggle-switch">
                            <input id="tw-switch" type="checkbox" hidden="hidden">
                            <label for="tw-switch" class="ts-helper"></label>
                        </div>
                    </li>
                    <li id="top-search" class="hide">
                        <a class="tm-search" href=""></a>
                    </li>
                    @Html.Partial("Limited_Notification")

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="tm-delivery" href=""><i class="tmn-counts">9</i></a>
                        <div class="dropdown-menu dropdown-menu-lg pull-right">
                            <div class="listview" id="nav-deliver">
                                <div class="lv-header">
                                    For Delivery
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="" data-clear="notification">
                                                <i class="md md-done-all"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="lv-body c-overflow">
                                    <a class="lv-item" href="">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="lv-img-sm" src="Images/img/profile-pics/1.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">David Belle</div>
                                                <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="lv-item" href="">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="lv-img-sm" src="Images/img/profile-pics/2.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">Jonathan Morris</div>
                                                <small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="lv-item" href="">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="lv-img-sm" src="Images/img/profile-pics/3.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">Fredric Mitchell Jr.</div>
                                                <small class="lv-small">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="lv-item" href="">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="lv-img-sm" src="Images/img/profile-pics/4.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">Glenn Jecobs</div>
                                                <small class="lv-small">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="lv-item" href="">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="lv-img-sm" src="Images/img/profile-pics/4.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">Bill Phillips</div>
                                                <small class="lv-small">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <a class="lv-footer" href="">View All</a>
                            </div>

                        </div>
                    </li>
                    @Html.Partial("Purchase_Notification")

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="tm-settings" href=""></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li>
                                <a data-action="fullscreen" href=""><i class="md md-fullscreen"></i> Toggle Fullscreen</a>
                            </li>
                            <li>
                                <a data-action="clear-localstorage" href=""><i class="md md-delete"></i> Clear Local Storage</a>
                            </li>
                            <li>
                                <a href=""><i class="md md-person"></i> Privacy Settings</a>
                            </li>
                            <li>
                                <a href=""><i class="md md-settings"></i> Other Settings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden-xs hidden" id="chat-trigger" data-trigger="#chat">
                        <a class="tm-chat" href=""></a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Top Search Content -->
        <div id="top-search-wrap">
            <input type="text">
            <i id="top-search-close">&times;</i>
        </div>
    </header>

    <section id="main">
        @Html.Partial("UserMenus")
        @RenderBody()

        @RenderSection("scripts", required: false)

        <script src="~/Scripts/js/jquery.flot.js"></script>
        <script src="~/Scripts/js/jquery.flot.resize.js"></script>
        <script src="~/Scripts/js/curvedLines.js"></script>
        <script src="~/Scripts/js/jquery.sparkline.min.js"></script>
        <script src="~/Scripts/js/jquery.easypiechart.min.js"></script>
        <script src="~/Scripts/js/fullcalendar.min.js"></script>
        <script src="~/Scripts/js/curved-line-chart.js"></script>
        <script src="~/Scripts/js/line-chart.js"></script>
        <script src="~/Scripts/js/charts.js"></script>

        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
        <script src="~/Scripts/js/moment.min.js"></script>
        <script src="~/Scripts/js/jquery.simpleWeather.min.js"></script>
        <script src="~/Scripts/js/jquery.nicescroll.min.js"></script>
        <script src="~/Scripts/js/waves.min.js"></script>
        <script src="~/Scripts/js/bootstrap-growl.min.js"></script>
        <script src="~/Scripts/js/sweetalert.min.js"></script>
        <script src="~/Scripts/js/bootstrap-select.js"></script>
        <script src="~/Scripts/js/chosen.jquery.min.js"></script>
        <script src="~/Scripts/js/input-mask.min.js"></script>
        <script src="~/Scripts/js/fileinput.min.js"></script>
        <script src="~/Scripts/js/functions.js"></script>
        <script src="~/Scripts/js/demo.js"></script>
</body>


</html>
